section {
  display: block;
  unicode-bidi: isolate;
}
.main{
  margin-top: 30px;
}


/* main 1번 */
.css-139mcwb {
  max-width: 1256px;
  margin: 0px auto;
  padding: 0px 60px;
  box-sizing: border-box;
  display: flex;
}
.css-1micng0 {
  flex: 1 1 847px;
}
.css-16kxepb {
  margin-left: 20px;
  flex: 1 1 269px;
}
.css-12oi7vi {
  overflow: hidden;
  position: relative;
  padding-top: 59.9764%;
  font-size: 0px;
  border-radius: 4px;
}
.css-j2pfbl {
  position: absolute;
  inset: 0px;
}
.css-1plfygl {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease 0s;
}
.css-5ycwsz {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: flex-end;
  height: 160px;
  padding: 0px 30px 30px;
  box-sizing: border-box;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  pointer-events: none;
}
.css-1n3vfvi {
  font-size: 32px;
  line-height: 42px;
  overflow: hidden;
  color: rgb(255, 255, 255);
  font-weight: 700;
  word-break: keep-all;
  text-overflow: ellipsis;
  text-shadow: rgba(63, 71, 77, 0.25) 0px 2px 10px;
}
.css-4juikq {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 8px;
}
.css-10uialf {
  width: 24px;
  height: 24px;
  margin-right: 4px;
  border-radius: 100%;
}
.css-13ozlut {
  font-size: 16px;
  line-height: 20px;
  color: rgb(255, 255, 255);
}
.css-9q9c2c {
  position: relative;
  padding-top: 188.848%;
}
.css-dq95ae.css-dq95ae {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.carousel__list-wrap {
  overflow: hidden;
}

.css-bzeli0 {
  overflow: hidden;
  height: 100%;
  border-radius: 4px;
  background: rgb(234, 237, 239);
}
.carousel__list {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  min-height: 100%;
}
.css-13udsys {
  height: 100%;
}
.carousel__list__entry {
  flex: 0 0 auto;
  box-sizing: border-box;
  user-select: none;
}
.css-1x4ct07 {
  display: block;
  height: 100%;
}
.css-2fcjmr {
  display: none;
  height: 100%;
}
.css-1g3kpbt {
  height: inherit;
  display: block;
  transition: transform 0.2s ease 0s;
}
.css-h9ang {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: rgb(234, 237, 239);
  transition: transform 0.2s ease 0s;
}
.css-9twip6 {
  height: 100%;
}
.css-1plfygl {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease 0s;
}
.css-1plfygl:hover {
  transform: scale(1.05);
}
.css-2jwam3 {
  display: none;
}
.css-1oimc7g {
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 20px;
  padding-left: 10px;
  padding-right: 6px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: rgba(33, 38, 41, 0.5);
}
.css-mkpa36 {
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  margin-left: 2px;
}
.css-16je1n8 {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 0%;
  transition: opacity 0.2s ease-in-out 0s;
  opacity: 0;
}
.css-xbyp8 {
  margin: 0px;
  border: none;
  background: none rgb(255, 255, 255);
  font-style: inherit;
  font-variant: inherit;
  font-stretch: inherit;
  font-family: inherit;
  font-optical-sizing: inherit;
  font-kerning: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  box-sizing: border-box;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 0px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  box-shadow: rgba(63, 71, 77, 0.15) 0px 2px 5px;
}
.css-kz9ng2 {
  display: inline-block;
  font-size: 24px;
  line-height: 1;
  color: rgb(47, 52, 56);
}
.css-9ev8gz {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 100%;
  transition: opacity 0.2s ease-in-out 0s;
  opacity: 0;
}
.css-junuwq {
  font-size: 14px;
  height: 26px;
  border-radius: 13px;
  background-color: rgba(33, 38, 41, 0.5);
  font-weight: 700;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-wrap: normal;
  line-height: 0;
  overflow: hidden;
  max-width: 100%;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  padding: 4px 8px 4px 10px;
  cursor: pointer;
  position: absolute;
  right: 12px;
  bottom: 12px;
}
.css-1lsftlb {
  vertical-align: middle;
  margin-right: 2px;
}
.css-1k130iy {
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  vertical-align: middle;
}


/* main 2번 */
.css-1yqrra9 {
  max-width: 1256px;
  margin: 0px auto;
  padding: 0px 60px;
  box-sizing: border-box;
}
.css-1702gi6 {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px 40px;
}
.css-2qd0l8 {
  flex: 1 1 0%;
  text-align: center;
}
.css-1511w17 {
  max-width: 88px;
  width: 100%;
}
.css-xd55zv {
  margin-top: 8px;
  font-size: 14px;
  line-height: 20px;
  display: block;
  color: rgb(47, 52, 56);
}


/* main 6번 */
.css-1obbfpy {
  margin: 40px auto;
  max-width: 1256px;
  padding: 0px 60px;
  box-sizing: border-box;
  background: rgb(255, 255, 255);
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}

.css-14vj981 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0px;
  font-size: 0px;
  line-height: 1;
}
.css-dlv2hg {
  flex: 1 1 0%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  min-width: 0px;
}
.css-1ao6pmd {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
}
.css-1d0kvw3 {
  overflow: hidden;
  display: inline-block;
  font-weight: 700;
  color: rgb(47, 52, 56);
  letter-spacing: -0.3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 20px;
  line-height: 28px;
}
.css-7z0c8w {
  display: flex;
  align-items: center;
  height: 0px;
  margin-left: 0px;
}
.css-bjn8wh {
  position: relative;
}
.css-3q4ecs {
  position: relative;
  z-index: 0;
}
.css-12glnu3 {
  display: flex;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
.css-101y6qw {
  margin: 0px 12px 0px 0px;
  padding: 0px;
  flex-shrink: 0;
  scroll-snap-align: start;
}
.css-1sdvu8p {
  width: 72px;
}
.css-1akwg05 {
  width: 100%;
  height: 72px;
}
.css-1pyhixg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.css-j18tx0 {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  line-height: 18px;
  color: rgb(47, 52, 56);
  text-align: center;
  white-space: nowrap;
}
.css-1113i1f {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 0%;
  display: none;
}
.css-xbyp8 {
  margin: 0px;
  border: none;
  background: none rgb(255, 255, 255);
  font-style: inherit;
  font-variant: inherit;
  font-stretch: inherit;
  font-family: inherit;
  font-optical-sizing: inherit;
  font-kerning: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  box-sizing: border-box;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 0px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  box-shadow: rgba(63, 71, 77, 0.15) 0px 2px 5px;
}
.css-kz9ng2 {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 1;
}
.css-h72v4d {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 100%;
}